*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

.header::before,
.header::after{
content: '';
clear: both;
display: block;
}

.tab-ct .header{
    overflow: hidden;
    border:1px solid black;
    line-height: 50px;
    text-align: center; 
}

.tab-ct .header>li{
    float: left;
    width: 33.33%;
}

.tab-ct .header li:nth-child(2){
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.tab-ct .header>li.active{
    background: #ccc;
}
.tab-ct .content>li{
    height: 100px;
    display: none;
    padding-top: 20px;
    padding-left: 20px;
}
.tab-ct .content>li.active{
    display: block;
}




