* {
    /* border: 1px solid red;       */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  wordart——公用样式只设置font-family，其他的单独设置  */

.wordart1 {
    min-width: 200px;
    font-size: 1.5em; 
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

.wordart2,.btn1 {
    font-family: "Helvetica Neue",Helvetica,Arial,cursive;
    font-weight: bolder;  
}

.nav-bar1 .wordart2{
    font-weight: normal;
}

.wordart3 {
    /* font-family: monospace "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;  */
    font-family:  "Droid Serif","Kaushan Script",Helvetica,Arial,cursive;
}

.food p{
    /* font-family: "Roboto Slab","Droid Serif","Kaushan Script",Helvetica,Arial,cursive; */
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}
/*  page-one  */

.header1,
.nav-bar1 {
    display: flex;
}

a,
#page-one,
.btn1 {
    color: white;
}

.container1 {
    height: 100%;
    background: black;
    opacity: .8;
}

#page-one {
    background: url(./photo/page1-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 900px;
}

#page-one::before,
#page-one::after {
    content: '';
    display: block;
    clear: both;
}

.header1 {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    justify-content: space-between;
    width: 100%;
    padding: 1em 5em;
    z-index: 1000; 
    line-height: 3; 
}

.wordart1,
a:hover {
    color: #f8c74e;
}

.nav-bar1 {
    justify-content: flex-end;
     line-height: 4.5;
      /*  要实现header1里的.wordart1和.wordart2在字体大小变化时水平对齐并在在父元素中垂直居中，只需遵循以下公式：.wordart1_font-size*.header1_line-height=.wordart2_line-height  */
}

.nav-bar1 li {
    padding-left: 1.5em;
}

.main1 {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main1 h1 {
    font-size: 2.5em;
}

.main1 p {
    font-size: 4em;
    margin-top: .5em;
}

.btn1 {
    background: #f8c74e;
    font-size: 20px;
    padding: 20px 40px;
    margin-top: 3em;
    border-radius: 5px;
    border: none;
}

.btn1:hover {
    background: #f7ba3e;
}




/*  page-two  */

@font-face {
    font-family: 'iconfont';
    /* project id 381278 */
    src: url('//at.alicdn.com/t/font_381278_uremgfi6ipj2x1or.eot');
    src: url('//at.alicdn.com/t/font_381278_uremgfi6ipj2x1or.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_381278_uremgfi6ipj2x1or.woff') format('woff'),
    url('//at.alicdn.com/t/font_381278_uremgfi6ipj2x1or.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_381278_uremgfi6ipj2x1or.svg#iconfont') format('svg');
}

.icon {
    font-family: "iconfont" !important;
    font-size: 80px;
    position: relative;
    top: 5px;
    left: 1px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon1 {
    color: yellow;
}

.icon2 {
    color: red;
}

.icon3 {
    color: yellowgreen;
}

#page-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 900px;
    text-align: center;
}

.header2 {
    margin-top: 200px;
}

.header2 p {
    margin: 20px auto;
}

.main2 {
    flex-grow: 1;
    margin-top: 50px;
    width: 90%;
}

.container2 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* flex-wrap: wrap;  */
    /* align-items: center; */
    /* flex-wrap: wrap;  */
}

.food {
    width: 33.3333333%;
    min-width: 150px;
    margin-left: 4em; 
    margin-right: 4em; 
}

.food div {
    display: inline-block;
    height: 100px;
    width: 100px;
    background: #f8c74e;
    border-radius: 50%; 
}

.food h3 {
    margin: 20px auto;
}



/*  page-three  */

#page-three {
    background: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 1000px;
    text-align: center;
}

.header3 h1 {
    margin-top: 100px;
}

.header3 p {
    margin-top: 10px;
}

.card h3 {
    padding-top: 20px;
}

.card p {
    padding-top: 5px;
    padding-bottom: 20px;
}

.main3 {
    width: 60%;
    margin-top: 50px;
}

.container3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.main3 .card {
    margin-bottom: 40px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card p,.card h3{
    background: #f8c74e;
}

.page3-photo {
    vertical-align: top;
}

.page3-photo:hover{
    opacity: .2;  
}


/*  page-four  */
#page-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 1300px;
    text-align: center;
}

.header4 h1 {
    margin-top: 100px;
}

.header4 p {
    margin-top: 10px;
}

.main4 .pic {
    position: relative;
    padding-bottom: 150px; 
    top:100px;
}

.main4 .pic::before {
    content: '';
    display: block;
    position: absolute;
    width: 138px;
    height: 138px;
    border-radius: 50%;
    border:6px solid #efefef;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;   
    
}

.main4 .pic::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    top: 110px;
    left: 71px;
    border-left: 3px solid #efefef;
    z-index: -1;
}

.main4 .pic:last-child::after {
    display: none;
}

.main4 .pic:last-child{
    margin-bottom:100px;
}

.page4-photo{
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: none;
}

.story{
    position: absolute;
    width: 400px; 
    height: 150px;
    top: 30px;
}

.odd{
    left: -500px;
    text-align: right;
    margin-left: 50px;
}

.even{
    right: -500px;
    text-align: left;
    margin-right: 50px;
}


